<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/layout">

<head>
</head>

<body>

<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid" layout:fragment="content"  data-thymeleaf-file-used="dashboard.html">
    <!--    <div th:replace="fragments/breadcrumbs :: breadcrumbs(${heading}, ${subheading})"></div>-->
    <div th:replace="fragments/breadcrumbs :: breadcrumbs(#{pages.ui.tooltipstylish}, #{pages.home})"></div>
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->


    <!-- Row -->
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Stylish Tooltips
                        <a class="get-code" data-toggle="collapse" href="#pgr1" aria-expanded="true"><i class="fa fa-code" title="" data-toggle="tooltip" data-original-title="Get Code"></i></a></h4>
                    <div class="collapse m-t-15 well" id="pgr1" aria-expanded="true">
                                        <pre class="highlight">                                            <code class="prettyprint prettyprinted" style=""><span class="pln">
                                                </span><span class="tag">&lt;span</span><span class="pln"> </span><span class="atn">class</span><span class="pun">=</span><span class="atv">"mytooltip tooltip-effect-2"</span><span class="tag">&gt;</span><span class="pln">
                                                </span><span class="tag">&lt;span</span><span class="pln"> </span><span class="atn">class</span><span class="pun">=</span><span class="atv">"tooltip-item"</span><span class="tag">&gt;</span><span class="pln">Euclid</span><span class="tag">&lt;/span&gt;</span><span class="pln">
                                                  </span><span class="tag">&lt;span</span><span class="pln"> </span><span class="atn">class</span><span class="pun">=</span><span class="atv">"tooltip-content clearfix"</span><span class="tag">&gt;</span><span class="pln">
                                                  </span><span class="tag">&lt;img</span><span class="pln"> </span><span class="atn">src</span><span class="pun">=</span><span class="atv">"/dashboard/plugins/images/tooltip/Euclid.png"</span><span class="pln"> </span><span class="tag">/&gt;</span><span class="pln">
                                                  </span><span class="tag">&lt;span</span><span class="pln"> </span><span class="atn">class</span><span class="pun">=</span><span class="atv">"tooltip-text"</span><span class="tag">&gt;</span><span class="pln">Also known as Euclid of andria, was a Greek mathematician, often referred.</span><span class="tag">&lt;/span&gt;</span><span class="pln">
                                                </span><span class="tag">&lt;/span&gt;</span><span class="pln">
                                               </span><span class="tag">&lt;/span&gt;</span><span class="pln">
                                           </span></code>
                                        </pre>
                    </div>
                    <p>Tesseract, finite but unbounded take root and flourish, <span class="mytooltip tooltip-effect-1">
                                        <span class="tooltip-item">Euclid</span> <span class="tooltip-content clearfix">
                                            <img src="/dashboard/assets/images/tooltip/Euclid.png" alt="euclid"><span class="tooltip-text">Also known as Euclid of andria, was a Greek mathematician, often referred.</span> </span>
                                    </span> rogue laws of physics, star stuff harvesting star light.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Tooltip Style 2 <a class="get-code" data-toggle="collapse" href="#tt2" aria-expanded="true"><i class="fa fa-code" title="" data-toggle="tooltip" data-original-title="Get Code"></i></a></h4>
                    <div class="collapse m-t-15" id="tt2" aria-expanded="true"> <pre class="highlight">                                            <code class="prettyprint prettyprinted" style=""><span class="tag">&lt;span</span><span class="pln"> </span><span class="atn">class</span><span class="pun">=</span><span class="atv">"mytooltip tooltip-effect-2"</span><span class="tag">&gt;</span><span class="pln">
                                    </span><span class="tag">&lt;span</span><span class="pln"> </span><span class="atn">class</span><span class="pun">=</span><span class="atv">"tooltip-item"</span><span class="tag">&gt;</span><span class="pln">Euclid</span><span class="tag">&lt;/span&gt;</span><span class="pln">
                                      </span><span class="tag">&lt;span</span><span class="pln"> </span><span class="atn">class</span><span class="pun">=</span><span class="atv">"tooltip-content clearfix"</span><span class="tag">&gt;</span><span class="pln">
                                      </span><span class="tag">&lt;img</span><span class="pln"> </span><span class="atn">src</span><span class="pun">=</span><span class="atv">"/dashboard/plugins/images/tooltip/Euclid.png"</span><span class="pln"> </span><span class="tag">/&gt;</span><span class="pln">
                                      </span><span class="tag">&lt;span</span><span class="pln"> </span><span class="atn">class</span><span class="pun">=</span><span class="atv">"tooltip-text"</span><span class="tag">&gt;</span><span class="pln">Also known as Euclid of andria, was a Greek mathematician, often referred.</span><span class="tag">&lt;/span&gt;</span><span class="pln">
                                    </span><span class="tag">&lt;/span&gt;</span><span class="pln">
                                   </span><span class="tag">&lt;/span&gt;</span></code> </pre></div>
                    <p>Tesseract, finite but unbounded <span class="mytooltip tooltip-effect-2">
                                    <span class="tooltip-item">Euclid</span> <span class="tooltip-content clearfix">
                                      <img src="/dashboard/assets/images/tooltip/Euclid.png">
                                      <span class="tooltip-text">Also known as Euclid of andria, was a Greek mathematician, often referred.</span> </span>
                                    </span> rogue laws of physics, star stuff harvesting star light.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Tooltip Style 3 <a class="get-code" data-toggle="collapse" href="#tt3" aria-expanded="true"><i class="fa fa-code" title="" data-toggle="tooltip" data-original-title="Get Code"></i></a></h4>
                    <div class="collapse m-t-15" id="tt3" aria-expanded="true"> <pre class="highlight">                                            <code class="prettyprint prettyprinted" style=""><span class="tag">&lt;span</span><span class="pln"> </span><span class="atn">class</span><span class="pun">=</span><span class="atv">"mytooltip tooltip-effect-3"</span><span class="tag">&gt;</span><span class="pln">
                                    </span><span class="tag">&lt;span</span><span class="pln"> </span><span class="atn">class</span><span class="pun">=</span><span class="atv">"tooltip-item"</span><span class="tag">&gt;</span><span class="pln">Euclid</span><span class="tag">&lt;/span&gt;</span><span class="pln">
                                      </span><span class="tag">&lt;span</span><span class="pln"> </span><span class="atn">class</span><span class="pun">=</span><span class="atv">"tooltip-content clearfix"</span><span class="tag">&gt;</span><span class="pln">
                                      </span><span class="tag">&lt;img</span><span class="pln"> </span><span class="atn">src</span><span class="pun">=</span><span class="atv">"/dashboard/plugins/images/tooltip/Euclid.png"</span><span class="pln"> </span><span class="tag">/&gt;</span><span class="pln">
                                      </span><span class="tag">&lt;span</span><span class="pln"> </span><span class="atn">class</span><span class="pun">=</span><span class="atv">"tooltip-text"</span><span class="tag">&gt;</span><span class="pln">Also known as Euclid of andria, was a Greek mathematician, often referred.</span><span class="tag">&lt;/span&gt;</span><span class="pln">
                                    </span><span class="tag">&lt;/span&gt;</span><span class="pln">
                                   </span><span class="tag">&lt;/span&gt;</span></code></pre> </div>
                    <p>Tesseract, finite but unbounded take root and flourish, <span class="mytooltip tooltip-effect-3">
                                    <span class="tooltip-item">Euclid</span> <span class="tooltip-content clearfix">
                                      <img src="/dashboard/assets/images/tooltip/Euclid.png">
                                      <span class="tooltip-text">Also known as Euclid of andria, was a Greek mathematician, often referred.</span> </span>
                                    </span> rogue laws of physics, star stuff harvesting star light.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Tooltip Style 4 <a class="get-code" data-toggle="collapse" href="#tt4" aria-expanded="true"><i class="fa fa-code" title="" data-toggle="tooltip" data-original-title="Get Code"></i></a></h4>
                    <div class="collapse m-t-15" id="tt4" aria-expanded="true"> <pre class="highlight">                                            <code class="prettyprint prettyprinted" style=""><span class="tag">&lt;span</span><span class="pln"> </span><span class="atn">class</span><span class="pun">=</span><span class="atv">"mytooltip tooltip-effect-4"</span><span class="tag">&gt;</span><span class="pln">
                                    </span><span class="tag">&lt;span</span><span class="pln"> </span><span class="atn">class</span><span class="pun">=</span><span class="atv">"tooltip-item"</span><span class="tag">&gt;</span><span class="pln">Euclid</span><span class="tag">&lt;/span&gt;</span><span class="pln">
                                      </span><span class="tag">&lt;span</span><span class="pln"> </span><span class="atn">class</span><span class="pun">=</span><span class="atv">"tooltip-content clearfix"</span><span class="tag">&gt;</span><span class="pln">
                                      </span><span class="tag">&lt;img</span><span class="pln"> </span><span class="atn">src</span><span class="pun">=</span><span class="atv">"/dashboard/plugins/images/tooltip/Euclid.png"</span><span class="pln"> </span><span class="tag">/&gt;</span><span class="pln">
                                      </span><span class="tag">&lt;span</span><span class="pln"> </span><span class="atn">class</span><span class="pun">=</span><span class="atv">"tooltip-text"</span><span class="tag">&gt;</span><span class="pln">Also known as Euclid of andria, was a Greek mathematician, often referred.</span><span class="tag">&lt;/span&gt;</span><span class="pln">
                                    </span><span class="tag">&lt;/span&gt;</span><span class="pln">
                                   </span><span class="tag">&lt;/span&gt;</span></code></pre> </div>
                    <p>Tesseract, finite but unbounded take <span class="mytooltip tooltip-effect-4">
                                    <span class="tooltip-item">Euclid</span> <span class="tooltip-content clearfix">
                                      <img src="/dashboard/assets/images/tooltip/Euclid.png">
                                      <span class="tooltip-text">Also known as Euclid of andria, was a Greek mathematician, often referred.</span> </span>
                                    </span> rogue laws of physics, star stuff harvesting star light.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Tooltip Style 5 <a class="get-code" data-toggle="collapse" href="#tt5" aria-expanded="true"><i class="fa fa-code" title="" data-toggle="tooltip" data-original-title="Get Code"></i></a></h4>
                    <div class="collapse m-t-15" id="tt5" aria-expanded="true"> <pre class="highlight">                                            <code class="prettyprint prettyprinted" style=""><span class="tag">&lt;span</span><span class="pln"> </span><span class="atn">class</span><span class="pun">=</span><span class="atv">"mytooltip tooltip-effect-5"</span><span class="tag">&gt;</span><span class="pln">
                                    </span><span class="tag">&lt;span</span><span class="pln"> </span><span class="atn">class</span><span class="pun">=</span><span class="atv">"tooltip-item"</span><span class="tag">&gt;</span><span class="pln">Euclid</span><span class="tag">&lt;/span&gt;</span><span class="pln">
                                      </span><span class="tag">&lt;span</span><span class="pln"> </span><span class="atn">class</span><span class="pun">=</span><span class="atv">"tooltip-content clearfix"</span><span class="tag">&gt;</span><span class="pln">
                                      </span><span class="tag">&lt;img</span><span class="pln"> </span><span class="atn">src</span><span class="pun">=</span><span class="atv">"/dashboard/plugins/images/tooltip/Euclid.png"</span><span class="pln"> </span><span class="tag">/&gt;</span><span class="pln">
                                      </span><span class="tag">&lt;span</span><span class="pln"> </span><span class="atn">class</span><span class="pun">=</span><span class="atv">"tooltip-text"</span><span class="tag">&gt;</span><span class="pln">Also known as Euclid of andria, was a Greek mathematician, often referred.</span><span class="tag">&lt;/span&gt;</span><span class="pln">
                                    </span><span class="tag">&lt;/span&gt;</span><span class="pln">
                                   </span><span class="tag">&lt;/span&gt;</span></code></pre> </div>
                    <p>Tesseract, finite but unbounded take <span class="mytooltip tooltip-effect-5">
                                    <span class="tooltip-item">Euclid</span> <span class="tooltip-content clearfix">
                                      <img src="/dashboard/assets/images/users/1.jpg" width="180"><br>
                                      <span class="tooltip-text p-t-10">Also known as Euclid of andria, was a Greek mathematician, often referred.</span> </span>
                                    </span> rogue laws of physics, star stuff harvesting star light.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Tooltip Style 6 <a class="get-code" data-toggle="collapse" href="#tt6" aria-expanded="true"><i class="fa fa-code" title="" data-toggle="tooltip" data-original-title="Get Code"></i></a></h4>
                    <div class="collapse m-t-15" id="tt6" aria-expanded="true"> <pre class="highlight">                                            <code class="prettyprint prettyprinted" style=""><span class="tag">&lt;a</span><span class="pln"> </span><span class="atn">class</span><span class="pun">=</span><span class="atv">"mytooltip tooltip-effect-6"</span><span class="pln"> </span><span class="atn">href</span><span class="pun">=</span><span class="atv">"#"</span><span class="tag">&gt;</span><span class="pln">Photography</span><span class="tag">&lt;span</span><span class="pln"> </span><span class="atn">class</span><span class="pun">=</span><span class="atv">"tooltip-content2"</span><span class="tag">&gt;&lt;i</span><span class="pln"> </span><span class="atn">class</span><span class="pun">=</span><span class="atv">"fa fa-camera-retro"</span><span class="tag">&gt;&lt;/i&gt;&lt;/span&gt;&lt;/a&gt;</span></code></pre></div>
                    <p>rogue laws of physics, star stuff <a class="mytooltip tooltip-effect-6" href="#">Home<span class="tooltip-content2"><i class="fa fa-home"></i></span></a> harvesting star light.of physics, star stuff harvesting </p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Tooltip Style 7 <a class="get-code" data-toggle="collapse" href="#tt7" aria-expanded="true"><i class="fa fa-code" title="" data-toggle="tooltip" data-original-title="Get Code"></i></a></h4>
                    <div class="collapse m-t-15" id="tt7" aria-expanded="true"><pre class="highlight">                                            <code class="prettyprint prettyprinted" style=""><span class="tag">&lt;a</span><span class="pln"> </span><span class="atn">class</span><span class="pun">=</span><span class="atv">"mytooltip tooltip-effect-7"</span><span class="pln"> </span><span class="atn">href</span><span class="pun">=</span><span class="atv">"#"</span><span class="tag">&gt;</span><span class="pln">Photography</span><span class="tag">&lt;span</span><span class="pln"> </span><span class="atn">class</span><span class="pun">=</span><span class="atv">"tooltip-content2"</span><span class="tag">&gt;&lt;i</span><span class="pln"> </span><span class="atn">class</span><span class="pun">=</span><span class="atv">"fa fa-camera-retro"</span><span class="tag">&gt;&lt;/i&gt;&lt;/span&gt;&lt;/a&gt;</span></code></pre></div>
                    <p>rogue laws of physics, star stuff <a class="mytooltip tooltip-effect-7" href="#">About me<span class="tooltip-content2"><i class="fa fa-user"></i></span></a> harvesting star light star light.of physics.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Tooltip Style 8 <a class="get-code" data-toggle="collapse" href="#tt8" aria-expanded="true"><i class="fa fa-code" title="" data-toggle="tooltip" data-original-title="Get Code"></i></a></h4>
                    <div class="collapse m-t-15" id="tt8" aria-expanded="true"> <pre class="highlight">                                            <code class="prettyprint prettyprinted" style=""><span class="tag">&lt;a</span><span class="pln"> </span><span class="atn">class</span><span class="pun">=</span><span class="atv">"mytooltip tooltip-effect-7"</span><span class="pln"> </span><span class="atn">href</span><span class="pun">=</span><span class="atv">"#"</span><span class="tag">&gt;</span><span class="pln">Photography</span><span class="tag">&lt;span</span><span class="pln"> </span><span class="atn">class</span><span class="pun">=</span><span class="atv">"tooltip-content2"</span><span class="tag">&gt;&lt;i</span><span class="pln"> </span><span class="atn">class</span><span class="pun">=</span><span class="atv">"fa fa-camera-retro"</span><span class="tag">&gt;&lt;/i&gt;&lt;/span&gt;&lt;/a&gt;</span></code></pre></div>
                    <p>rogue laws of physics, star stuff <a class="mytooltip tooltip-effect-8" href="#">About me<span class="tooltip-content2"><i class="fa fa-user"></i></span></a> harvesting star light star light.of physics.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Tooltip Style 9 <a class="get-code" data-toggle="collapse" href="#tt9" aria-expanded="true"><i class="fa fa-code" title="" data-toggle="tooltip" data-original-title="Get Code"></i></a></h4>
                    <div class="collapse m-t-15" id="tt9" aria-expanded="true"> <pre class="highlight">                                            <code class="prettyprint prettyprinted" style=""><span class="tag">&lt;a</span><span class="pln"> </span><span class="atn">class</span><span class="pun">=</span><span class="atv">"mytooltip tooltip-effect-7"</span><span class="pln"> </span><span class="atn">href</span><span class="pun">=</span><span class="atv">"#"</span><span class="tag">&gt;</span><span class="pln">Photography</span><span class="tag">&lt;span</span><span class="pln"> </span><span class="atn">class</span><span class="pun">=</span><span class="atv">"tooltip-content2"</span><span class="tag">&gt;&lt;i</span><span class="pln"> </span><span class="atn">class</span><span class="pun">=</span><span class="atv">"fa fa-camera-retro"</span><span class="tag">&gt;&lt;/i&gt;&lt;/span&gt;&lt;/a&gt;</span></code></pre></div>
                    <p>rogue laws of physics, star stuff <a class="mytooltip tooltip-effect-9" href="#">About me<span class="tooltip-content2"><i class="fa fa-user"></i></span></a> harvesting star light star light.of physics.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Tooltip Style 10 Bloated Tooltip<a class="get-code" data-toggle="collapse" href="#tt10" aria-expanded="true"><i class="fa fa-code" title="" data-toggle="tooltip" data-original-title="Get Code"></i></a></h4>
                    <div class="collapse m-t-15" id="tt10" aria-expanded="true"><pre class="highlight">                                            <code class="prettyprint prettyprinted" style=""><span class="tag">&lt;a</span><span class="pln"> </span><span class="atn">class</span><span class="pun">=</span><span class="atv">"mytooltip"</span><span class="pln"> </span><span class="atn">href</span><span class="pun">=</span><span class="atv">"javascript:void(0)"</span><span class="tag">&gt;</span><span class="pln">
                            </span><span class="tag">&lt;i</span><span class="pln"> </span><span class="atn">class</span><span class="pun">=</span><span class="atv">"fa fa-fw fa-car"</span><span class="tag">&gt;&lt;/i&gt;</span><span class="pln">Car
                            </span><span class="tag">&lt;span</span><span class="pln"> </span><span class="atn">class</span><span class="pun">=</span><span class="atv">"tooltip-content3"</span><span class="tag">&gt;</span><span class="pln">You can easily navigate the city by car.</span><span class="tag">&lt;/span&gt;</span><span class="pln">
                            </span><span class="tag">&lt;/a&gt;</span><span class="pln">
                      </span></code></pre></div>
                    <p>Star stuff harvesting <a class="mytooltip" href="javascript:void(0)"><i class="fa fa-fw fa-car"></i> Car <span class="tooltip-content3">You can easily navigate the city by car.</span></a>star light, encyclopaedia galactica are creatures of the cosmos.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Bloated Tooltip<a class="get-code" data-toggle="collapse" href="#tt10" aria-expanded="true"><i class="fa fa-code" title="" data-toggle="tooltip" data-original-title="Get Code"></i></a></h4>
                    <div class="collapse m-t-15" id="tt10" aria-expanded="true"><pre class="highlight">                                            <code class="prettyprint prettyprinted" style=""><span class="tag">&lt;a</span><span class="pln"> </span><span class="atn">class</span><span class="pun">=</span><span class="atv">"mytooltip"</span><span class="pln"> </span><span class="atn">href</span><span class="pun">=</span><span class="atv">"javascript:void(0)"</span><span class="tag">&gt;</span><span class="pln">
                            </span><span class="tag">&lt;i</span><span class="pln"> </span><span class="atn">class</span><span class="pun">=</span><span class="atv">"fa fa-fw fa-car"</span><span class="tag">&gt;&lt;/i&gt;</span><span class="pln">Car
                            </span><span class="tag">&lt;span</span><span class="pln"> </span><span class="atn">class</span><span class="pun">=</span><span class="atv">"tooltip-content3"</span><span class="tag">&gt;</span><span class="pln">You can easily navigate the city by car.</span><span class="tag">&lt;/span&gt;</span><span class="pln">
                            </span><span class="tag">&lt;/a&gt;</span><span class="pln">
                      </span></code></pre></div>
                    <p>Star stuff harvesting <a class="mytooltip" href="javascript:void(0)"><i class="fa fa-fw fa-car"></i> Car <span class="tooltip-content3">You can easily navigate the city by car.</span></a>star light, encyclopaedia galactica are creatures of the cosmos.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Tooltip Style 11 Bloated Tooltip<a class="get-code" data-toggle="collapse" href="#tt11" aria-expanded="true"><i class="fa fa-code" title="" data-toggle="tooltip" data-original-title="Get Code"></i></a></h4>
                    <div class="collapse m-t-15" id="tt11" aria-expanded="true"><pre class="highlight">                                            <code class="prettyprint prettyprinted" style=""><span class="tag">&lt;span</span><span class="pln"> </span><span class="atn">class</span><span class="pun">=</span><span class="atv">"mytooltip tooltip-effect-1"</span><span class="tag">&gt;</span><span class="pln">
                            </span><span class="tag">&lt;span</span><span class="pln"> </span><span class="atn">class</span><span class="pun">=</span><span class="atv">"tooltip-item2"</span><span class="tag">&gt;</span><span class="pln">Euclid</span><span class="tag">&lt;/span&gt;</span><span class="pln">
                            </span><span class="tag">&lt;span</span><span class="pln"> </span><span class="atn">class</span><span class="pun">=</span><span class="atv">"tooltip-content4 clearfix"</span><span class="tag">&gt;</span><span class="pln">
                            </span><span class="tag">&lt;span</span><span class="pln"> </span><span class="atn">class</span><span class="pun">=</span><span class="atv">"tooltip-text2"</span><span class="tag">&gt;</span><span class="pln">
                            </span><span class="tag">&lt;strong&gt;</span><span class="pln">Euclid</span><span class="tag">&lt;/strong&gt;</span><span class="pln">
                      </span></code></pre></div>
                    <p>Tesseract, finite but unbounded take root and flourish, <span class="mytooltip tooltip-effect-1"><span class="tooltip-item2">Euclid</span><span class="tooltip-content4 clearfix"><span class="tooltip-text2"><strong>Euclid</strong>, also known as Euclid of Alexandria, was a Greek mathematician, often referred to as the "Father of Geometry". He was active in Alexandria during the reign of Ptolemy I. <a href="http://en.wikipedia.org/wiki/Euclid">Wikipedia</a></span></span>
                                    </span> rogue laws of physics, star stuff harvesting star light, encyclopaedia galactica are creatures of the cosmos the only home we've ever known ship of the imagination prime number <span class="mytooltip tooltip-effect-2"><span class="tooltip-item2">quasar</span><span class="tooltip-content4 clearfix"><span class="tooltip-text2"><strong>Quasars</strong> are believed to be powered by accretion of material into supermassive black holes in the nuclei of distant galaxies, making these luminous versions of the general... <a href="http://en.wikipedia.org/wiki/Quasar">Wikipedia</a></span></span>
                                    </span> courage of our questions.</p>
                    <p>Colonies. Jean-François Champollion, billions upon billions descended from astronomers the sky calls to us! Made in the interiors of collapsing stars, billions upon billions radio telescope paroxysm of global death not a sunrise but a galaxyrise, gathered by gravity permanence of the stars?</p>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Tooltip Style 12 Line Tooltip</h4> Tar light, encyclopaedia <a class="mytooltip" href="javascript:void(0)"> Line tooltip<span class="tooltip-content5"><span class="tooltip-text3"><span class="tooltip-inner2">Howdy, Ben!<br> There are 13 unread messages in your inbox.</span></span></span></a> galactica are creatures of the cosmos.
                </div>
            </div>
        </div>
    </div>
    <!-- Row -->

    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
</div>
</body>

</html>
