<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/layout">

<head>
</head>

<body>

<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid" layout:fragment="content"  data-thymeleaf-file-used="dashboard.html">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-5 col-8 align-self-center">
            <h3 class="text-themecolor">User Cards</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="home">Home</a></li>
                <li class="breadcrumb-item active">User Cards</li>
            </ol>
        </div>

        <div class="col-md-7 col-4 align-self-center">
            <div class="d-flex m-t-10 justify-content-end">
                <div class="d-flex m-r-20 m-l-10 hidden-md-down">
                    <div class="chart-text m-r-10">
                        <h6 class="m-b-0"><small>THIS MONTH</small></h6>
                        <h4 class="m-t-0 text-info">$58,356</h4></div>
                    <div class="spark-chart">
                        <div id="monthchart"><canvas width="60" height="35" style="display: inline-block; width: 60px; height: 35px; vertical-align: top;"></canvas></div>
                    </div>
                </div>
                <div class="d-flex m-r-20 m-l-10 hidden-md-down">
                    <div class="chart-text m-r-10">
                        <h6 class="m-b-0"><small>LAST MONTH</small></h6>
                        <h4 class="m-t-0 text-primary">$48,356</h4></div>
                    <div class="spark-chart">
                        <div id="lastmonthchart"><canvas width="60" height="35" style="display: inline-block; width: 60px; height: 35px; vertical-align: top;"></canvas></div>
                    </div>
                </div>
                <div class="">
                    <button class="right-side-toggle waves-effect waves-light btn-success btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
                </div>
            </div>
        </div>

    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->


    <!-- Row -->
    <div class="row el-element-overlay">
        <div class="col-md-12">
            <h4 class="card-title">Fade-in effect</h4>
            <h6 class="card-subtitle m-b-20 text-muted">You can use by default <code>el-overlay</code></h6> </div>
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="el-card-item">
                    <div class="el-card-avatar el-overlay-1"> <img src="/dashboard/assets/images/users/1.jpg" alt="user" />
                        <div class="el-overlay">
                            <ul class="el-info">
                                <li><a class="btn default btn-outline image-popup-vertical-fit" href="/dashboard/assets/images/users/1.jpg"><i class="icon-magnifier"></i></a></li>
                                <li><a class="btn default btn-outline" href="javascript:void(0);"><i class="icon-link"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="el-card-content">
                        <h3 class="box-title">Genelia Deshmukh</h3> <small>Managing Director</small>
                        <br/> </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="el-card-item">
                    <div class="el-card-avatar el-overlay-1"> <img src="/dashboard/assets/images/users/2.jpg" alt="user" />
                        <div class="el-overlay">
                            <ul class="el-info">
                                <li><a class="btn default btn-outline image-popup-vertical-fit" href="/dashboard/assets/images/users/1.jpg"><i class="icon-magnifier"></i></a></li>
                                <li><a class="btn default btn-outline" href="javascript:void(0);"><i class="icon-link"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="el-card-content">
                        <h3 class="box-title">Genelia Deshmukh</h3> <small>Managing Director</small>
                        <br/> </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="el-card-item">
                    <div class="el-card-avatar el-overlay-1"> <img src="/dashboard/assets/images/users/3.jpg" alt="user" />
                        <div class="el-overlay">
                            <ul class="el-info">
                                <li><a class="btn default btn-outline image-popup-vertical-fit" href="/dashboard/assets/images/users/1.jpg"><i class="icon-magnifier"></i></a></li>
                                <li><a class="btn default btn-outline" href="javascript:void(0);"><i class="icon-link"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="el-card-content">
                        <h3 class="box-title">Genelia Deshmukh</h3> <small>Managing Director</small>
                        <br/> </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="el-card-item">
                    <div class="el-card-avatar el-overlay-1"> <img src="/dashboard/assets/images/users/4.jpg" alt="user" />
                        <div class="el-overlay">
                            <ul class="el-info">
                                <li><a class="btn default btn-outline image-popup-vertical-fit" href="/dashboard/assets/plugins/images/users/1.jpg"><i class="icon-magnifier"></i></a></li>
                                <li><a class="btn default btn-outline" href="javascript:void(0);"><i class="icon-link"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="el-card-content">
                        <h3 class="box-title">Genelia Deshmukh</h3> <small>Managing Director</small>
                        <br/> </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row el-element-overlay">
        <div class="col-md-12">
            <h4 class="card-title">Scroll down effect</h4>
            <h6 class="card-subtitle m-b-20 text-muted">You can use scroll down effect <code>el-overlay scrl-dwn</code></h6> </div>
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="el-card-item">
                    <div class="el-card-avatar el-overlay-1"> <img src="/dashboard/assets/images/users/5.jpg" alt="user" />
                        <div class="el-overlay scrl-dwn">
                            <ul class="el-info">
                                <li><a class="btn default btn-outline image-popup-vertical-fit" href="/dashboard/assets/images/users/1.jpg"><i class="icon-magnifier"></i></a></li>
                                <li><a class="btn default btn-outline" href="javascript:void(0);"><i class="icon-link"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="el-card-content">
                        <h3 class="box-title">Genelia Deshmukh</h3> <small>Managing Director</small>
                        <br/> </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="el-card-item">
                    <div class="el-card-avatar el-overlay-1"> <img src="/dashboard/assets/images/users/6.jpg" alt="user" />
                        <div class="el-overlay scrl-dwn">
                            <ul class="el-info">
                                <li><a class="btn default btn-outline image-popup-vertical-fit" href="/dashboard/assets/images/users/1.jpg"><i class="icon-magnifier"></i></a></li>
                                <li><a class="btn default btn-outline" href="javascript:void(0);"><i class="icon-link"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="el-card-content">
                        <h3 class="box-title">Genelia Deshmukh</h3> <small>Managing Director</small>
                        <br/> </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="el-card-item">
                    <div class="el-card-avatar el-overlay-1"> <img src="/dashboard/assets/images/users/7.jpg" alt="user" />
                        <div class="el-overlay scrl-dwn">
                            <ul class="el-info">
                                <li><a class="btn default btn-outline image-popup-vertical-fit" href="/dashboard/assets/images/users/1.jpg"><i class="icon-magnifier"></i></a></li>
                                <li><a class="btn default btn-outline" href="javascript:void(0);"><i class="icon-link"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="el-card-content">
                        <h3 class="box-title">Genelia Deshmukh</h3> <small>Managing Director</small>
                        <br/> </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="el-card-item">
                    <div class="el-card-avatar el-overlay-1"> <img src="/dashboard/assets/images/users/8.jpg" alt="user" />
                        <div class="el-overlay scrl-dwn">
                            <ul class="el-info">
                                <li><a class="btn default btn-outline image-popup-vertical-fit" href="/dashboard/assets/images/users/1.jpg"><i class="icon-magnifier"></i></a></li>
                                <li><a class="btn default btn-outline" href="javascript:void(0);"><i class="icon-link"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="el-card-content">
                        <h3 class="box-title">Genelia Deshmukh</h3> <small>Managing Director</small>
                        <br/> </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row el-element-overlay">
        <div class="col-md-12">
            <h4 class="card-title">Scroll up effect</h4>
            <h6 class="card-subtitle m-b-20 text-muted">You can use by default <code>el-overlay scrl-up</code></h6> </div>
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="el-card-item">
                    <div class="el-card-avatar el-overlay-1"> <img src="/dashboard/assets/images/users/1.jpg" alt="user" />
                        <div class="el-overlay scrl-up">
                            <ul class="el-info">
                                <li><a class="btn default btn-outline image-popup-vertical-fit" href="/dashboard/assets/images/users/1.jpg"><i class="icon-magnifier"></i></a></li>
                                <li><a class="btn default btn-outline" href="javascript:void(0);"><i class="icon-link"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="el-card-content">
                        <h3 class="box-title">Genelia Deshmukh</h3> <small>Managing Director</small>
                        <br/> </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="el-card-item">
                    <div class="el-card-avatar el-overlay-1"> <img src="/dashboard/assets/images/users/2.jpg" alt="user" />
                        <div class="el-overlay scrl-up">
                            <ul class="el-info">
                                <li><a class="btn default btn-outline image-popup-vertical-fit" href="/dashboard/assets/images/users/1.jpg"><i class="icon-magnifier"></i></a></li>
                                <li><a class="btn default btn-outline" href="javascript:void(0);"><i class="icon-link"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="el-card-content">
                        <h3 class="box-title">Genelia Deshmukh</h3> <small>Managing Director</small>
                        <br/> </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="el-card-item">
                    <div class="el-card-avatar el-overlay-1"> <img src="/dashboard/assets/images/users/3.jpg" alt="user" />
                        <div class="el-overlay scrl-up">
                            <ul class="el-info">
                                <li><a class="btn default btn-outline image-popup-vertical-fit" href="/dashboard/assets/images/users/1.jpg"><i class="icon-magnifier"></i></a></li>
                                <li><a class="btn default btn-outline" href="javascript:void(0);"><i class="icon-link"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="el-card-content">
                        <h3 class="box-title">Genelia Deshmukh</h3> <small>Managing Director</small>
                        <br/> </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="el-card-item">
                    <div class="el-card-avatar el-overlay-1"> <img src="/dashboard/assets/images/users/4.jpg" alt="user" />
                        <div class="el-overlay scrl-up">
                            <ul class="el-info">
                                <li><a class="btn default btn-outline image-popup-vertical-fit" href="/dashboard/assets/images/users/1.jpg"><i class="icon-magnifier"></i></a></li>
                                <li><a class="btn default btn-outline" href="javascript:void(0);"><i class="icon-link"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="el-card-content">
                        <h3 class="box-title">Genelia Deshmukh</h3> <small>Managing Director</small>
                        <br/> </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Row -->

    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
</div>
</body>

</html>
