<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Header</title>
</head>

<body>

<div th:fragment="sidebar" data-thymeleaf-file-used="fragments/sidebar.html">
    <!-- ============================================================== -->
    <!-- Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <aside class="left-sidebar">
        <!-- Sidebar scroll-->
<!--        <div class="scroll-sidebar  nieuwvanfilip slimScrollDiv">-->
        <div class="scroll-sidebar">
            <!-- Sidebar navigation-->
            <nav class="sidebar-nav">
                <ul id="sidebarnav">
                    <li><a class="waves-effect waves-dark" href="dashboard" aria-expanded="false"><i
                            class="mdi mdi-gauge"></i><span class="hide-menu">Dashboard</span></a>
                    </li>
                    <li><a class="waves-effect waves-dark" href="agency" aria-expanded="false"><i
                            class="mdi mdi-factory"></i><span class="hide-menu">Agency</span></a>
                    </li>
                    <li><a class="waves-effect waves-dark" href="bus" aria-expanded="false"><i
                            class="mdi mdi-bus"></i><span class="hide-menu">Buses</span></a>
                    </li>
                    <li><a class="waves-effect waves-dark" href="trip" aria-expanded="false"><i
                            class="mdi mdi-road-variant"></i><span class="hide-menu">Trips</span></a>
                    </li>
                    <li><a class="waves-effect waves-dark" href="profile" aria-expanded="false"><i
                            class="mdi mdi-account-check"></i><span class="hide-menu">Profile</span></a>
                    </li>
                    <li><a class="waves-effect waves-dark" href="workmonth" aria-expanded="false"><i
                            class="mdi mdi-account-check"></i><span class="hide-menu">Workmonth</span></a>
                    </li>

                    <!-- new -->
                    <li class="nav-small-cap">PERSONAL</li>

                    <li><a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i
                            class="mdi mdi-gauge"></i><span class="hide-menu">Dashboard </span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li><a href="/dashboard">Dashboard 1</a></li>
                            <li><a href="/samples/dashboard2">Dashboard 2</a></li>
                            <li><a href="/samples/dashboard3">Dashboard 3</a></li>
                            <li><a href="/samples/dashboard4">Dashboard 4</a></li>
                            <li><a href="/samples/dashboard5">Dashboard 5</a></li>
                            <li><a href="/samples/dashboard6">Dashboard 6</a></li>
                        </ul>
                    </li>

                    <li class=""> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-bullseye"></i><span class="hide-menu">Apps</span></a>
                        <ul aria-expanded="false" class="collapse" style="height: 10px;">
                            <li><a href="/samples/app-calendar">Calendar</a></li>

                            <li><a href="/samples/app-ticket">Support Ticket</a></li>
                            <li><a href="/samples/app-contact2">Contact Grid</a></li>
                            <li><a href="/samples/app-contact-detail">Contact Detail</a></li>
                        </ul>
                    </li>

                    <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-chart-bubble"></i><span class="hide-menu">Ui Elements</span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li><a href="/samples/ui-cards">Cards</a></li>
                            <li><a href="/samples/ui-user-card">User Cards</a></li>
                            <li><a href="/samples/ui-buttons">Buttons</a></li>
                            <li><a href="/samples/ui-modals">Modals</a></li>
                            <li><a href="/samples/ui-tab">Tab</a></li>
                            <li><a href="/samples/ui-tooltip-popover">Tooltip &amp; Popover</a></li>
                            <li><a href="/samples/ui-tooltip-stylish">Tooltip stylish</a></li>
                            <li><a href="/samples/ui-sweetalert">Sweet Alert</a></li>
                            <li><a href="/samples/ui-notification">Notification</a></li>
                            <li><a href="/samples/ui-progressbar">Progressbar</a></li>
                            <li><a href="/samples/ui-nestable">Nestable</a></li>
                            <li><a href="/samples/ui-range-slider">Range slider</a></li>
                            <li><a href="/samples/ui-timeline">Timeline</a></li>
                            <li><a href="/samples/ui-typography">Typography</a></li>
                            <li><a href="/samples/ui-horizontal-timeline">Horizontal Timeline</a></li>
                            <li><a href="/samples/ui-session-timeout">Session Timeout</a></li>
                            <li><a href="/samples/ui-session-ideal-timeout">Session Ideal Timeout</a></li>
                            <li><a href="/samples/ui-bootstrap">Bootstrap Ui</a></li>
                            <li><a href="/samples/ui-breadcrumb">Breadcrumb</a></li>
                            <li><a href="/samples/ui-bootstrap-switch">Bootstrap Switch</a></li>
                            <li><a href="/samples/ui-list-media">List Media</a></li>
                            <li><a href="/samples/ui-ribbons">Ribbons</a></li>
                            <li><a href="/samples/ui-grid">Grid</a></li>
                            <li><a href="/samples/ui-carousel">Carousel</a></li>
                            <li><a href="/samples/ui-date-paginator">Date-paginator</a></li>
                            <li><a href="/samples/ui-dragable-portlet">Dragable Portlet</a></li>
                            <li><a href="/samples/ui-scrollspy">Scrollspy</a></li>
                            <li><a href="/samples/ui-toasts">Toasts</a></li>
                            <li><a href="/samples/ui-spinner">Spinner</a></li>
                        </ul>
                    </li>

                    <li class="nav-devider">
                    </li>

                    <li class="nav-small-cap">EXTRA COMPONENTS</li>


                    <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-book-open-variant"></i><span class="hide-menu">Sample Pages</span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li><a href="/samples/pages-blank">Blank page</a></li>
                            <li><a href="#" class="has-arrow">Authentication <span class="label label-rounded label-success">6</span></a>
                                <ul aria-expanded="false" class="collapse">
                                    <li><a href="/samples/pages-login">Login 1</a></li>
                                    <li><a href="/samples/pages-login-2">Login 2</a></li>
                                    <li><a href="/samples/pages-register">Register</a></li>
                                    <li><a href="/samples/pages-register2">Register 2</a></li>
                                    <li><a href="/samples/pages-lockscreen">Lockscreen</a></li>
                                    <li><a href="/samples/pages-recover-password">Recover password</a></li>
                                </ul>
                            </li>
                            <li><a href="/samples/pages-profile">Profile page</a></li>
                            <li><a href="/samples/pages-animation">Animation</a></li>
                            <li><a href="/samples/pages-fix-innersidebar">Sticky Left sidebar</a></li>
                            <li><a href="/samples/pages-fix-inner-right-sidebar">Sticky Right sidebar</a></li>
                            <li><a href="/samples/pages-invoice">Invoice</a></li>
                            <li><a href="/samples/pages-treeview">Treeview</a></li>
                            <li><a href="/samples/pages-utility-classes">Helper Classes</a></li>
                            <li><a href="/samples/pages-search-result">Search result</a></li>
                            <li><a href="/samples/pages-scroll">Scrollbar</a></li>
                            <li><a href="/samples/pages-pricing">Pricing</a></li>
                            <li><a href="/samples/pages-lightbox-popup">Lighbox popup</a></li>
                            <li><a href="/samples/pages-gallery">Gallery</a></li>
                            <li><a href="/samples/pages-faq">Faqs</a></li>
                            <li><a href="#" class="has-arrow">Error Pages</a>
                                <ul aria-expanded="false" class="collapse">
                                    <li><a href="/samples/pages-error-400">400</a></li>
                                    <li><a href="/samples/pages-error-403">403</a></li>
                                    <li><a href="/samples/pages-error-404">404</a></li>
                                    <li><a href="/samples/pages-error-500">500</a></li>
                                    <li><a href="/samples/pages-error-503">503</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-file-chart"></i><span class="hide-menu">Charts</span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li><a href="/samples/chart-morris">Morris Chart</a></li>
                            <li><a href="/samples/chart-chartist">Chartis Chart</a></li>
                            <li><a href="/samples/chart-echart">Echarts</a></li>
                            <li><a href="/samples/chart-flot">Flot Chart</a></li>
                            <li><a href="/samples/chart-knob">Knob Chart</a></li>
                            <li><a href="/samples/chart-chart-js">Chartjs</a></li>
                            <li><a href="/samples/chart-sparkline">Sparkline Chart</a></li>
                            <li><a href="/samples/chart-extra-chart">Extra chart</a></li>
                            <li><a href="/samples/chart-peity">Peity Charts</a></li>
                        </ul>
                    </li>

                    <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-brush"></i><span class="hide-menu">Icons</span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li><a href="/samples/icon-material">Material Icons</a></li>
                            <li><a href="/samples/icon-fontawesome">Fontawesome Icons</a></li>
                            <li><a href="/samples/icon-themify">Themify Icons</a></li>
                            <li><a href="/samples/icon-linea">Linea Icons</a></li>
                            <li><a href="/samples/icon-weather">Weather Icons</a></li>
                            <li><a href="/samples/icon-simple-lineicon">Simple Lineicons</a></li>
                            <li><a href="/samples/icon-flag">Flag Icons</a></li>
                        </ul>
                    </li>

                    <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-map-marker"></i><span class="hide-menu">Maps</span></a>
                        <ul aria-expanded="false" class="collapse">
<!--                            <li><a href="map-google.html">Google Maps</a></li>-->
                            <li><a href="/samples/map-google">Google Maps</a></li>
<!--                            <li><a href="map-vector.html">Vector Maps</a></li>-->
                            <li><a href="/samples/map-vector">Vector Maps</a></li>
                        </ul>
                    </li>

                    <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-arrange-send-backward"></i><span class="hide-menu">Multi level dd</span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li><a href="#">item 1.1</a></li>
                            <li><a href="#">item 1.2</a></li>
                            <li> <a class="has-arrow" href="#" aria-expanded="false">Menu 1.3</a>
                                <ul aria-expanded="false" class="collapse">
                                    <li><a href="#">item 1.3.1</a></li>
                                    <li><a href="#">item 1.3.2</a></li>
                                    <li><a href="#">item 1.3.3</a></li>
                                    <li><a href="#">item 1.3.4</a></li>
                                </ul>
                            </li>
                            <li><a href="#">item 1.4</a></li>
                        </ul>
                    </li>

                </ul>
            </nav>
            <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
        <!-- Bottom points-->
        <div class="sidebar-footer">
            <!-- item--><a href="" class="link" data-toggle="tooltip" title="Settings"><i class="ti-settings"></i></a>
            <!-- item--><a href="" class="link" data-toggle="tooltip" title="Email"><i class="mdi mdi-gmail"></i></a>
            <!-- item--><a href="logout" class="link" data-toggle="tooltip" title="Logout"><i class="mdi mdi-power"></i></a>
        </div>
        <!-- End Bottom points-->
    </aside>
</div>

</body>

</html>