<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/layout">

<head>
</head>

<body>

<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid" layout:fragment="content" data-thymeleaf-file-used="workmonth.html">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-5 col-8 align-self-center">
            <h3 class="text-themecolor m-b-0 m-t-0">Workmonth</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="home">Home</a></li>
                <li class="breadcrumb-item active">Workmonth</li>
            </ol>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <!-- Row -->
    <div class="row">
        <!-- Column -->
        <div class="col-lg-12 col-xlg-12 col-md-12">
            <div class="card">
                <div class="card-block card-body">

                    <h4 class="card-title">Table for work hours this month</h4>

                    <!-- https://www.baeldung.com/dates-in-thymeleaf -->
                    <!-- https://github.com/thymeleaf/thymeleaf-extras-java8time -->
                    <!-- https://www.baeldung.com/java-add-hours-date -->
                    <!-- https://www.boraji.com/java-8-localtime-example -->

                    <div class="table-responsive">
                        <form action="#" method="post" class="form-horizontal form-material"
                              th:action="@{/workmonth/save/}"
                              th:object="${form}">

                            <table class="table color-table primary-table">
                                <thead class="thead-dark">
                                <tr>
                                    <th scope="col">dag</th>
                                    <th scope="col">Uur komen</th>
                                    <th scope="col">Uur gaan</th>
                                    <th scope="col">totaal aantal uren</th>
                                    <th scope="col">minimaal uur tot te werken</th>
                                    <th scope="col">maximaal uur tot te werken</th>
                                    <th scope="col">bruto werkuren</th>
                                    <th scope="col">werkuren decimaal</th>
                                    <th scope="col">85%</th>
                                    <th scope="col">15%</th>
                                    <th scope="col">uren per dag te werken</th>
                                    <th scope="col">Button</th>
                                </tr>
                                </thead>

                                <tbody>


                                <tr th:each="wd2, stat : *{workdayList}"
                                    th:with="workdayfilip2=*{workdayList[__${stat.index}__].date}"
                                    th:class="${@dateUtils.checkIfDayIsWeekendDay(workdayfilip2)} ? 'table-warning' : ' '"
                                >

                                    <td hidden="hidden">
                                        <input hidden="hidden" type="hidden"
                                               th:field="*{workdayList[__${stat.index}__].id}"
                                               class="form-control form-control-line"
                                               name="id">
                                    </td>

                                    <th scope="row"
                                        th:text="*{#temporals.format(workdayList[__${stat.index}__].date, 'EEEE dd MMM yyyy')}">
                                    </th>

                                    <!--                                <td>-->
                                    <!--                                    <input type="time" th:field="*{workdayList[__${stat.index}__].hourArrived}"-->
                                    <!--                                           class="form-control form-control-line"-->
                                    <!--                                           name="hourArrived">-->
                                    <!--                                </td>-->

                                    <td data-info-cell="hourArrived">
                                        <span th:if="${@dateUtils.checkIfDayIsWeekendDay(workdayfilip2)}">00:00</span>
                                        <span th:unless="${@dateUtils.checkIfDayIsWeekendDay(workdayfilip2)}">
                                        <input type="time" th:field="*{workdayList[__${stat.index}__].hourArrived}"
                                               class="form-control form-control-line"
                                               name="hourArrived">
                                    </span>
                                    </td>

                                    <!--                                <td>-->
                                    <!--                                    <input type="time" th:field="*{workdayList[__${stat.index}__].hourLeft}"-->
                                    <!--                                           class="form-control form-control-line"-->
                                    <!--                                           name="hourLeft">-->
                                    <!--                                </td>-->

                                    <td data-info-cell="hourLeft">
                                        <span th:if="${@dateUtils.checkIfDayIsWeekendDay(workdayfilip2)}">00:00</span>
                                        <span th:unless="${@dateUtils.checkIfDayIsWeekendDay(workdayfilip2)}">
                                         <input type="time" th:field="*{workdayList[__${stat.index}__].hourLeft}"
                                                class="form-control form-control-line"
                                                name="hourLeft">
                                    </span>
                                    </td>

                                    <td th:text="*{#temporals.format(workdayList[__${stat.index}__].getTotalAmountOfHoursWorkedToday(), 'HH:mm')}"></td>

                                    <td data-info-cell="minimum hour to work to">
                                        <span th:if="${@dateUtils.checkIfDayIsWeekendDay(workdayfilip2)}">00:00</span>
                                        <span th:unless="${@dateUtils.checkIfDayIsWeekendDay(workdayfilip2)}"
                                              th:text="*{#temporals.format(workdayList[__${stat.index}__].getMinimumHourToWorkTo(), 'HH:mm')}"></span>
                                    </td>

                                    <td data-info-cell="maximum hour to work to">
                                        <span th:if="${@dateUtils.checkIfDayIsWeekendDay(workdayfilip2)}">00:00</span>
                                        <span th:unless="${@dateUtils.checkIfDayIsWeekendDay(workdayfilip2)}"
                                              th:text="*{#temporals.format(workdayList[__${stat.index}__].getMaximumHourToWorkTo(), 'HH:mm')}"></span>
                                    </td>


                                    <!--                                <td data-info-cell="bruto worked hours">-->
                                    <!--                                    <input type="number" th:field="*{workdayList[__${stat.index}__].brutoWorkedHours}"-->
                                    <!--                                           class="form-control form-control-line" name="brutoWorkedHours">-->
                                    <!--                                </td>-->

                                    <td data-info-cell="hourLeft">
                                        <span th:if="${@dateUtils.checkIfDayIsWeekendDay(workdayfilip2)}">00:00</span>
                                        <span th:unless="${@dateUtils.checkIfDayIsWeekendDay(workdayfilip2)}">
                                    <input type="number" th:field="*{workdayList[__${stat.index}__].brutoWorkedHours}"
                                           class="form-control form-control-line" name="brutoWorkedHours">
                                    </span>
                                    </td>

                                    <td data-info-cell="worked hours decimal"
                                        th:text="*{workdayList[__${stat.index}__].getWorkedHoursDecimal()}"></td>

<!--                                    <td data-info-cell="85 procent"-->
<!--                                        th:text="*{workdayList[__${stat.index}__].getEightyFiveProcentOfWorkedHoursDecimal()}"></td>-->

                                    <td data-info-cell="85 procent"
                                        th:with="percentagefilip=*{workdayList[__${stat.index}__].getEightyFiveProcentOfWorkedHoursDecimal()}"
                                        th:text="${percentagefilip} % 1 == 0 ? ${percentagefilip} : ${#numbers.formatDecimal(percentagefilip, 0, 4)}"></td>

<!--                                    <td data-info-cell="fifteen percent"-->
<!--                                        th:text="*{workdayList[__${stat.index}__].getFifteenProcentOfWorkedHoursDecimal()}"></td>-->

                                    <td data-info-cell="fifteen procent"
                                        th:with="percentagefilip=*{workdayList[__${stat.index}__].getFifteenProcentOfWorkedHoursDecimal()}"
                                        th:text="${percentagefilip} % 1 == 0 ? ${percentagefilip} : ${#numbers.formatDecimal(percentagefilip, 0, 4)}"></td>

                                    <td data-info-cell="hours to work each day">
                                        <span th:if="${@dateUtils.checkIfDayIsWeekendDay(workdayfilip2)}">00:00</span>
                                        <span th:unless="${@dateUtils.checkIfDayIsWeekendDay(workdayfilip2)}"
                                              th:text="*{#temporals.format(workdayList[__${stat.index}__].getHoursToWorkEachDay(), 'HH:mm')}"></span>
                                    </td>

                                    <td data-info-cell="update button">
                                    <span th:if="${@dateUtils.checkIfDayIsWeekendDay(workdayfilip2)}">
                                    </span>
                                        <span th:unless="${@dateUtils.checkIfDayIsWeekendDay(workdayfilip2)}">
                                    <button class="btn btn-success">Update wd2</button>
                                    </span>
                                    </td>
                                </tr>


                                </tbody>
                            </table>

                        </form>

                    </div> <!-- table-responsive -->


                </div> <!-- card-body -->
            </div> <!-- card -->
        </div> <!-- col-lg-13 col-xlg-12 -->
        <!-- Column -->

        <!-- Column -->
        <div class="col-lg-12 col-xlg-12 col-md-12">
            <div class="card">
                <div class="card-block card-body">

                    <h4 class="card-title">Table for work hours this month</h4>

                    <!-- https://www.baeldung.com/dates-in-thymeleaf -->
                    <!-- https://github.com/thymeleaf/thymeleaf-extras-java8time -->
                    <!-- https://www.baeldung.com/java-add-hours-date -->
                    <!-- https://www.boraji.com/java-8-localtime-example -->

                    <div class="table-responsive">
                        <form action="#" method="post" class="form-horizontal form-material"
                              th:action="@{/workmonth/save2/{id}(id=${workMonth.id})}"
                              th:object="${form2}">

                            <table class="table color-table primary-table">
                                <thead class="thead-dark">
                                <tr>
                                    <th scope="col">dag</th>
                                    <th scope="col">Uur komen</th>
                                    <th scope="col">Uur gaan</th>
                                    <th scope="col">totaal aantal uren</th>
                                    <th scope="col">minimaal uur tot te werken</th>
                                    <th scope="col">maximaal uur tot te werken</th>
                                    <th scope="col">bruto werkuren</th>
                                    <th scope="col">werkuren decimaal</th>
                                    <th scope="col">85%</th>
                                    <th scope="col">15%</th>
                                    <th scope="col">uren per dag te werken</th>
                                    <th scope="col">Button</th>
                                </tr>
                                </thead>

                                <tbody>


                                <tr th:each="wd2, stat : *{workdayList}"
                                    th:with="workdayfilip2=*{workdayList[__${stat.index}__].date}"
                                    th:class="${@dateUtils.checkIfDayIsWeekendDay(workdayfilip2)} ? 'table-warning' : ' '"
                                >

                                    <td hidden="hidden">
                                        <input hidden="hidden" type="hidden"
                                               th:field="*{workdayList[__${stat.index}__].id}"
                                               class="form-control form-control-line"
                                               name="id">
                                    </td>

                                    <th scope="row"
                                        th:text="*{#temporals.format(workdayList[__${stat.index}__].date, 'EEEE dd MMM yyyy')}">
                                    </th>

                                    <!--                                <td>-->
                                    <!--                                    <input type="time" th:field="*{workdayList[__${stat.index}__].hourArrived}"-->
                                    <!--                                           class="form-control form-control-line"-->
                                    <!--                                           name="hourArrived">-->
                                    <!--                                </td>-->

                                    <td data-info-cell="hourArrived">
                                        <span th:if="${@dateUtils.checkIfDayIsWeekendDay(workdayfilip2)}">00:00</span>
                                        <span th:unless="${@dateUtils.checkIfDayIsWeekendDay(workdayfilip2)}">
                                        <input type="time" th:field="*{workdayList[__${stat.index}__].hourArrived}"
                                               class="form-control form-control-line"
                                               name="hourArrived">
                                    </span>
                                    </td>

                                    <!--                                <td>-->
                                    <!--                                    <input type="time" th:field="*{workdayList[__${stat.index}__].hourLeft}"-->
                                    <!--                                           class="form-control form-control-line"-->
                                    <!--                                           name="hourLeft">-->
                                    <!--                                </td>-->

                                    <td data-info-cell="hourLeft">
                                        <span th:if="${@dateUtils.checkIfDayIsWeekendDay(workdayfilip2)}">00:00</span>
                                        <span th:unless="${@dateUtils.checkIfDayIsWeekendDay(workdayfilip2)}">
                                         <input type="time" th:field="*{workdayList[__${stat.index}__].hourLeft}"
                                                class="form-control form-control-line"
                                                name="hourLeft">
                                    </span>
                                    </td>

                                    <td th:text="*{#temporals.format(workdayList[__${stat.index}__].getTotalAmountOfHoursWorkedToday(), 'HH:mm')}"></td>

                                    <td data-info-cell="minimum hour to work to">
                                        <span th:if="${@dateUtils.checkIfDayIsWeekendDay(workdayfilip2)}">00:00</span>
                                        <span th:unless="${@dateUtils.checkIfDayIsWeekendDay(workdayfilip2)}"
                                              th:text="*{#temporals.format(workdayList[__${stat.index}__].getMinimumHourToWorkTo(), 'HH:mm')}"></span>
                                    </td>

                                    <td data-info-cell="maximum hour to work to">
                                        <span th:if="${@dateUtils.checkIfDayIsWeekendDay(workdayfilip2)}">00:00</span>
                                        <span th:unless="${@dateUtils.checkIfDayIsWeekendDay(workdayfilip2)}"
                                              th:text="*{#temporals.format(workdayList[__${stat.index}__].getMaximumHourToWorkTo(), 'HH:mm')}"></span>
                                    </td>


                                    <!--                                <td data-info-cell="bruto worked hours">-->
                                    <!--                                    <input type="number" th:field="*{workdayList[__${stat.index}__].brutoWorkedHours}"-->
                                    <!--                                           class="form-control form-control-line" name="brutoWorkedHours">-->
                                    <!--                                </td>-->

                                    <td data-info-cell="hourLeft">
                                        <span th:if="${@dateUtils.checkIfDayIsWeekendDay(workdayfilip2)}">00:00</span>
                                        <span th:unless="${@dateUtils.checkIfDayIsWeekendDay(workdayfilip2)}">
                                    <input type="number" th:field="*{workdayList[__${stat.index}__].brutoWorkedHours}"
                                           class="form-control form-control-line" name="brutoWorkedHours">
                                    </span>
                                    </td>

                                    <td data-info-cell="worked hours decimal"
                                        th:text="*{workdayList[__${stat.index}__].getWorkedHoursDecimal()}"></td>

                                    <!--                                    <td data-info-cell="85 procent"-->
                                    <!--                                        th:text="*{workdayList[__${stat.index}__].getEightyFiveProcentOfWorkedHoursDecimal()}"></td>-->

                                    <td data-info-cell="85 procent"
                                        th:with="percentagefilip=*{workdayList[__${stat.index}__].getEightyFiveProcentOfWorkedHoursDecimal()}"
                                        th:text="${percentagefilip} % 1 == 0 ? ${percentagefilip} : ${#numbers.formatDecimal(percentagefilip, 0, 4)}"></td>

                                    <!--                                    <td data-info-cell="fifteen percent"-->
                                    <!--                                        th:text="*{workdayList[__${stat.index}__].getFifteenProcentOfWorkedHoursDecimal()}"></td>-->

                                    <td data-info-cell="fifteen procent"
                                        th:with="percentagefilip=*{workdayList[__${stat.index}__].getFifteenProcentOfWorkedHoursDecimal()}"
                                        th:text="${percentagefilip} % 1 == 0 ? ${percentagefilip} : ${#numbers.formatDecimal(percentagefilip, 0, 4)}"></td>

                                    <td data-info-cell="hours to work each day">
                                        <span th:if="${@dateUtils.checkIfDayIsWeekendDay(workdayfilip2)}">00:00</span>
                                        <span th:unless="${@dateUtils.checkIfDayIsWeekendDay(workdayfilip2)}"
                                              th:text="*{#temporals.format(workdayList[__${stat.index}__].getHoursToWorkEachDay(), 'HH:mm')}"></span>
                                    </td>

                                    <td data-info-cell="update button">
                                    <span th:if="${@dateUtils.checkIfDayIsWeekendDay(workdayfilip2)}">
                                    </span>
                                        <span th:unless="${@dateUtils.checkIfDayIsWeekendDay(workdayfilip2)}">
                                    <button class="btn btn-success">Update wd2</button>
                                    </span>
                                    </td>
                                </tr>


                                </tbody>
                            </table>

                        </form>

                    </div> <!-- table-responsive -->


                </div> <!-- card-body -->
            </div> <!-- card -->
        </div> <!-- col-lg-13 col-xlg-12 -->
        <!-- Column -->

    </div>
    <!-- Row -->
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->
</body>

</html>
