<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/layout"
>

<head>
</head>

<body>

<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid" layout:fragment="content" data-thymeleaf-file-used="workmonth.html">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-5 col-8 align-self-center">
            <h3 class="text-themecolor m-b-0 m-t-0">Profile</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="home">Home</a></li>
                <li class="breadcrumb-item active">Profile</li>
            </ol>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <!-- Row -->
    <div class="row">
        <!-- Column -->
        <div class="col-lg-12 col-xlg-12 col-md-12">
            <div class="card">
                <div class="card-block">

                    <!-- https://www.baeldung.com/dates-in-thymeleaf -->
                    <!-- https://github.com/thymeleaf/thymeleaf-extras-java8time -->
                    <!-- https://www.baeldung.com/java-add-hours-date -->
                    <!-- https://www.boraji.com/java-8-localtime-example -->


                    <form action="#" method="post" class="form-horizontal form-material"
                          th:action="@{/workmonth/save/}"
                          th:object="${form}">

                        <table class="table">
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col">try1</th>
                                <th scope="col">try2</th>
                                <th scope="col">try3</th>
                                <th scope="col">try4</th>
                                <th scope="col">try5</th>
                                <th scope="col">try6</th>

                                <th scope="col">dag</th>
                                <th scope="col">Uur komen</th>
                                <th scope="col">Uur gaan</th>
                                <th scope="col">totaal aantal uren</th>
                                <th scope="col">minimaal uur tot te werken</th>
                                <th scope="col">maximaal uur tot te werken</th>
                                <th scope="col">bruto werkuren</th>
                                <th scope="col">werkuren decimaal</th>
                                <th scope="col">85%</th>
                                <th scope="col">15%</th>
                                <th scope="col">uren per dag te werken</th>
                                <th scope="col">Button</th>
                            </tr>
                            </thead>

                            <tbody>


                            <tr th:each="wd2, stat : *{workdayList}"
                                th:with="workdayfilip2=*{workdayList[__${stat.index}__].date}">

                                <td th:text="${@dateUtils.checkIfDayIsWeekendDay(#temporals.createNow())}"></td>
                                <td th:text="${@dateUtils.checkIfDayIsWeekendDay(#temporals.create(2019,9,1))}"></td>
                                <td th:text="*{workdayList[__${stat.index}__].date}"></td>

                                <td th:with="workdayfilip=*{workdayList[__${stat.index}__].date}">
                                    <span th:text="${workdayfilip}"></span>
                                </td>
                                <td th:with="workdayfilip=*{workdayList[__${stat.index}__].date}"
                                    th:text="${@dateUtils.checkIfDayIsWeekendDay(workdayfilip)}"
                                    th:class="${@dateUtils.checkIfDayIsWeekendDay(workdayfilip)} ? 'greentrue bg-success' : 'redfalse bg-danger'"></td>

                                <!-- tryout fil -->
                                <td>
                                    <span th:if="${@dateUtils.checkIfDayIsWeekendDay(workdayfilip2)}">00:00</span>
                                    <span th:unless="${@dateUtils.checkIfDayIsWeekendDay(workdayfilip2)}"
                                          th:text="*{#temporals.format(workdayList[__${stat.index}__].getMinimumHourToWorkTo(), 'HH:mm')}"></span>

                                </td>

                                <td hidden="hidden">
                                    <input hidden="hidden" type="hidden" th:field="*{workdayList[__${stat.index}__].id}"
                                           class="form-control form-control-line"
                                           name="id">
                                </td>

                                <th scope="row"
                                    th:text="*{#temporals.format(workdayList[__${stat.index}__].date, 'EEEE dd MMM yyyy')}">
                                </th>
                                <td>
                                    <input type="time" th:field="*{workdayList[__${stat.index}__].hourArrived}"
                                           class="form-control form-control-line"
                                           name="hourArrived">
                                </td>
                                <td>
                                    <input type="time" th:field="*{workdayList[__${stat.index}__].hourLeft}"
                                           class="form-control form-control-line"
                                           name="hourLeft">
                                </td>
                                <td th:text="*{#temporals.format(workdayList[__${stat.index}__].getTotalAmountOfHoursWorkedToday(), 'HH:mm')}"></td>


                                <!--                                <td th:text="*{#temporals.format(workdayList[__${stat.index}__].getMinimumHourToWorkTo(), 'HH:mm')}"></td>-->

                                <td>
                                    <span th:if="${@dateUtils.checkIfDayIsWeekendDay(workdayfilip2)}">00:00</span>
                                    <span th:unless="${@dateUtils.checkIfDayIsWeekendDay(workdayfilip2)}"
                                          th:text="*{#temporals.format(workdayList[__${stat.index}__].getMinimumHourToWorkTo(), 'HH:mm')}"></span>
                                </td>

<!--                                <td th:text="*{#temporals.format(workdayList[__${stat.index}__].getMaximumHourToWorkTo(), 'HH:mm')}"></td>-->
                                <td>
                                    <span th:if="${@dateUtils.checkIfDayIsWeekendDay(workdayfilip2)}">00:00</span>
                                    <span th:unless="${@dateUtils.checkIfDayIsWeekendDay(workdayfilip2)}"
                                          th:text="*{#temporals.format(workdayList[__${stat.index}__].getMaximumHourToWorkTo(), 'HH:mm')}"></span>
                                </td>


                                <td>
                                    <input type="number" th:field="*{workdayList[__${stat.index}__].brutoWorkedHours}"
                                           class="form-control form-control-line" name="brutoWorkedHours">
                                </td>
                                <td th:text="*{workdayList[__${stat.index}__].getWorkedHoursDecimal()}">55.4</td>
                                <td th:text="*{workdayList[__${stat.index}__].getEightyFiveProcentOfWorkedHoursDecimal()}">
                                    12
                                </td>
                                <td th:text="*{workdayList[__${stat.index}__].getFifteenProcentOfWorkedHoursDecimal()}">
                                    0000
                                </td>
<!--                                <td th:text="*{#temporals.format(workdayList[__${stat.index}__].getHoursToWorkEachDay(), 'HH:mm')}">-->
<!--                                </td>-->
                                <td>
                                    <span th:if="${@dateUtils.checkIfDayIsWeekendDay(workdayfilip2)}">00:00</span>
                                    <span th:unless="${@dateUtils.checkIfDayIsWeekendDay(workdayfilip2)}"
                                          th:text="*{#temporals.format(workdayList[__${stat.index}__].getHoursToWorkEachDay(), 'HH:mm')}"></span>
                                </td>

                                <td>
                                    <button class="btn btn-success" th:disabled="${@dateUtils.checkIfDayIsWeekendDay(workdayfilip2)}">Update wd2</button>
                                </td>
                            </tr>


                            </tbody>
                        </table>

                    </form>

                </div>
            </div>
        </div>
        <!-- Column -->

    </div>
    <!-- Row -->
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->
</body>

</html>
