<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/layout">

<head>
</head>

<body>

<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid" layout:fragment="content" data-thymeleaf-file-used="workmonth.html">

    <!--    <div th:replace="fragments/breadcrumbs :: breadcrumbs(${heading}, ${subheading})"></div>-->
    <div th:replace="fragments/breadcrumbs :: breadcrumbs('Workyear', 'Home')"></div>

    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <!-- Row -->
    <div class="row">
        <!-- Column -->
        <div class="col-lg-12 col-xlg-12 col-md-12">

            <div class="button-group">
                <button type="button" class="btn waves-effect waves-light btn-primary"
                        th:each="month: ${months}"
                        th:text="${month}"
                        th:href="@{${'/works/workmonth/' + month}}"
                >[month]
                </button>
            </div>

            <div>
                <a type="button" class="btn waves-effect waves-light btn-primary"
                   th:each="month: ${months}"
                   th:text="${month}"
                   th:href="@{${'/works/workmonth/' + month}}"
                >[month]
                </a>
            </div>


            <!--            <div class="card">-->
            <!--                <div class="card-body">-->


            <!--                </div> &lt;!&ndash; card-body &ndash;&gt;-->
            <!--            </div> &lt;!&ndash; card &ndash;&gt;-->


        </div> <!-- col-lg-13 col-xlg-12 -->
        <!-- Column -->

    </div>
    <!-- Row -->
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->
</body>

</html>
